

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <a class="navbar-brand" href="#">
     <img src="../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
     SV Fitness
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="site-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/track" routerLinkActive="active">Track</a>
        <a class="nav-item nav-link" routerLink="/seeothers" routerLinkActive="active">See Others</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Sign Up</a>
    </div>
     
  
    
 
   </div>
 </nav>