<div class="container homeC">
    
                  <div class="jumbotron home-tron">
                      <div class="container">
                        <h1 class="display-3">Track Your Workouts</h1>
                        <p>Track, Grow, and GET FIT!</p>
                        
                        <p><a routerLink="/login"class="btn btn-primary btn-lg"  role="button">Sign Up Now &raquo;</a></p>
                      </div>
                    </div>
               
               
                  
              
                    <div class="row homeP">
                      <div class="col-lg-6">
                        <img class="rounded-circle" src="../assets/img/Fitness-Tracker-MPN (1).jpg" alt="Generic placeholder image" width="250" height="250">
                        <h2>Track Workouts</h2>
                        <p>A place where you can choose the workout you just completed and add it to your list. Track and improve each week!</p>
                        <p><a routerLink="/track" class="btn btn-secondary" href="#" role="button">Get Tracking &raquo;</a></p>
                      </div>
                      <div class="col-lg-6">
                        <img class="rounded-circle" src="../assets/img/logo.png" alt="Generic placeholder image" width="250" height="250">
                        <h2>See Other Users</h2>
                        <p>Check out workouts completed by fellow SV Fitness members!</p>
                        <p><a routerLink="/seeothers" class="btn btn-secondary"  role="button">Go Check &raquo;</a></p>
                      </div>
                      
                    </div>
                    
    
                    
                      
                      
</div>